<button [routerLink]="['/crear-profesional']" class="btn btn-success">
    <i class="fas fa-user-plus"></i> Registrar Profesional
  </button>
<button [routerLink]="['/contactar-profesional']" class="btn btn-primary">
    <i class="fas fa-envelope "></i> Contactar profesional
  </button>

<div class="card-columns">
    <div (click)="seleccionar(profesional.id)" class="card puntero" *ngFor="let profesional of profesionales">
        <img src="{{profesional.foto}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">{{profesional.nombre}}</h5>
            <p class="card-text">Profesion: {{profesional.profesion}}</p>
            <p class="card-text">{{profesional.texto}}</p>
            <p class="card-text"><small class="text-muted">Experiencia: {{profesional.experiencia}}</small></p>
            <p class="card-text"><small class="text-muted">{{profesional.contacto}}</small></p>
        </div>
    </div>
</div>