<button [routerLink]="['/crear-vacante']" class="btn btn-success">
    <i class="fas fa-plus"></i> Crear nueva vacante
  </button>
<button [routerLink]="['/vacantes-ocupadas']" class="btn btn-primary">
    <i class="fa fa-newspaper"></i> Vacantes Ocupadas
  </button>

<div (click)="seleccionar(vacante.id)" class="card text-center mt-5 puntero" *ngFor="let vacante of vacantes">
    <div class="card-header">
        {{vacante.empresa}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{vacante.titulo}}</h5>
        <p class="card-text">{{vacante.descripcion}}</p>
        <button (click)="cerrarVacante(vacante.id)" class="btn btn-outline-danger">Cerrar Vacante</button>
    </div>
    <div class="card-footer text-muted row">
        <div class="col-6 text-left">
            <p>{{vacante.creado_en}}</p>
        </div>
        <div class="col-6 text-right">
            <p>Responsable: {{vacante.responsable}}</p>
        </div>

    </div>
</div>