<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <p>Codigo fuente:</p>
                </li>
                <li>
                    <a href="https://github.com/josemtm/hhrr-control-frontend">
                       Angular-Frontend
                    </a>
                </li>
                <li>
                    <a href="https://github.com/josemtm/hhrr-control-backend">
                       Backend-Spring
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Hecho con <i class="fa fa-heart heart"></i> por <a href="https://josemtm.github.io/paginaPersonal/">Jose Torrealba</a>
        </div>
    </div>
</footer>
